.container
  padding 20px
  display grid
  grid-template-columns 1fr 0.8fr repeat(2,1fr)
  gap 16px
  align-items center
  border-bottom 1px solid #DBE4ED
.cell
  text-transform uppercase
.cell.center
  text-align center
  display flex
  justify-content center

