.container
  display grid
  grid-template-columns repeat(3,1fr)
  text-transform uppercase
  list-style none
  gap 16px
  font-size 18px
  margin 0
  padding 0
.cell
  text-align left

.cell.center
  text-align center