.container
  padding 20px
  display grid
  grid-template-columns 1fr 1fr
  gap 16px
  align-items center
  border-bottom 1px solid #DBE4ED
  &__cell
    text-transform uppercase
.center
  text-align center

