.container
  padding 20px
  display grid
  grid-template-columns 1fr 0.8fr repeat(2,1fr)
  gap 16px
  align-items center
  cursor pointer

.container:hover
  background: rgba(63,81,181,0.3)


.rowHover:hover
  color #74d53d

.title
  color #74d53d
  font-size 24px

.titleCell
  display flex
  flex-direction column
  gap 8px

.subTitle
  display flex
  gap 8px
  align-items center

.league
  max-width 100px
  white-space nowrap

.cellCenter
  text-align center
