.container {
  border-radius 30px
  padding 5px 15px
  max-width 140px
}

.container.win {
  background: rgba(187, 221, 0, 0.25);
  color: #BBDD00;
}

.container.loose {
  background: rgba(250, 112, 0, 0.25);
  color: #FA7000;
}