.container
  padding 16px
  cursor pointer
  list-style none

.container.active
    border-bottom 5px solid #74d53d
    border-bottom-left-radius 5px
    border-bottom-right-radius 5px
    color #74d53d

.container.isSidebar
  border-bottom 5px solid #4CC804
