.container
  display flex
  gap 24px
  justify-content center

.leftSide
  display flex
  align-items flex-end

.centerSide
  display flex
  gap 20px
  align-items center
  &__container
    display flex
    flex-direction column
    align-items center
    gap 10px
    justify-content center

.tier
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform uppercase

.duration
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;

.timeAgo
  font-size 16px

.score
  font-weight 700
  font-size 64px
  line-height 77px

.radiantColor
  color #BBDD00

.direColor
  color #FA7000

.rightSide
  display flex
  gap 24px
  align-items flex-end

.infoContainer
  display flex
  flex-direction column
  gap 8px
  max-width 100px
  &__title
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  &__text
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;