.container
  color #DBE4ED
  display flex
  flex-direction column
  gap 4px
  align-items center
  justify-content center
  margin-top 50vh
.title
  margin 0
  font-size 32px
.actions
  display flex
  justify-content space-between
  gap 24px
  align-items center