.img
  max-width 300px

.typeAttack
  color #BBDD00
  text-transform uppercase
  font-size 24px

.hero
  display flex
  gap 24px
  padding 20px
  background rgba(16, 0, 37, 0.4)
  border-radius 10px
  border 1px solid rgba(16, 0, 37, 0.5)
  &__leftSide
    display flex
    flex-direction column
    gap 16px
  &__rightSide
    font-size 18px
    max-width 400px
.statsList
  list-style none
  margin 0
  padding 0
  font-size 18px
.roles
  font-size 18px
  color #BBDD00