.backpack
  display flex
  align-items center
  gap 8px
  background: rgba(16,0,37,0.6);
  padding 4px 10px
  border-radius 10px
  width 330px
.backpack.smallScreen
  flex-direction column
  width 15vw
  align-items flex-start
.container
  display flex
  flex-direction column
  gap 8px
.itemsContainer
  display flex
  flex-wrap nowrap
  align-items center
  gap 4px
.itemsContainer.smallScreen
  flex-wrap wrap

.cellFull
  width 30px
  border 1px solid #242c6a
  border-radius 5px
  display flex
  align-items center
.voidCell
  width 30px
  border 1px solid #242c6a
  background #010025
  height 22px
  border-radius 5px

.cellNeutralFull
  width 30px
  height 30px
  border 1px solid #242c6a
  border-radius 50%
  display flex
  align-items center
.voidNeutralCell
  width 30px
  height 30px
  border 1px solid #242c6a
  background #010025
  border-radius 50%
.goldCell
  display flex
  align-items center
  gap 8px
.goldImg
  width 30px
  height 30px
  border-radius 50%