.container
  display grid
  grid-template-columns repeat(3,1fr)
  gap 16px
  padding 10px 0px
  align-items center
  cursor pointer
.idCell
  display flex
  flex-direction column
  gap 8px
  &__title
    color #BBDD00
    font-size 20px
    text-transform uppercase
.cell
  text-align center