.Header
  position relative
  overflow: hidden
  &__tabs
    display flex
    align-items center
    gap 30px
  &__logo
    height: 60px
    display block
  &__user
    display flex
    gap 11px
    align-items: center
  &__button
    margin-right: 0
    margin-left: auto
  & :global(.HeaderMenu-Link_active::before)
    max-width: initial;



    