.container
  padding 20px
  display grid
  grid-template-columns 1fr 1fr
  gap 16px
  align-items center
  cursor pointer

.name {
  color #BBDD00
  font-size 18px
}
.tier {
  text-transform uppercase
}