.container {
  padding 20px
  background rgba(16, 0, 37, 0.4)
  border-radius 10px
  border 1px solid rgba(16, 0, 37, 0.5)
  width 100%
}
.rows
  display flex
  flex-direction column
  gap 16px
  margin-top 24px