.container
  display grid
  grid-template-columns repeat(3, 1fr)
  cursor pointer
  align-items center
.container:hover
  background: rgba(63,81,181,0.3)
.hero
  display flex
  gap 8px
  align-items center

.img
  width 60px

.cell
  text-align center
